$primary: #158443;
$enable-rounded: false;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  background: $primary;
}

.card {
  text-overflow: ellipsis;
}

.top-spacing {
  margin-top: 62px;
}